.dashboard-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 10px;
  gap: 10px;
}

.dashboard-tab {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 3%);
  border: 1px solid #e0e0e0;
}

.dashboard-tab-uper-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-tab-uper-side > h3 {
  font-size: 15px;
}
.dashboard-tab-uper-side > span {
  font-size: 0px;
}

.dashboard-tab-bottom-side {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.dashboard-tab-bottom-side > h2 {
  font-size: 14px;
}

.dashboard-tab-bottom-side > p {
  font-size: 12px;
  color: #555;
}

.dashboard-body {
  display: flex;
  gap: 20px;
  padding: 20px 10px;
  width: 100%;
}

.dashboard-body-left-side {
  width: 70%;
}

.dashboard-body-right-side {
  width: 30%;
  display: flex;
  align-items: start;
  justify-content: center;
  padding-top: 16px;
}

.dashboard-projects-container {
  width: 100%;
  border: 1px solid #55555529;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 10px #00000017;
  height: 95%;
  overflow: auto;
}

.dashboard-projects-header {
  font-size: 14px;
  font-weight: 700;
  color: oklch(0.55 0.25 262.87);
  margin-bottom: 15px;
  padding: 3px;
}

.dashboard-projects-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.dashboard-projects-inner-container > .project-card {
  width: 100% !important;
  gap: 8px !important;
  padding: 8px !important;
  border: 1px solid #55555529;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.08);
}

.dashboard-projects-inner-container > .project-card .project-header {
  gap: 10px;
}
.dashboard-projects-inner-container > .project-card .project-info {
  width: 70% !important;
}

.dashboard-projects-inner-container .project-title {
  font-size: 12px;
}
.dashboard-projects-inner-container .project-description {
  font-size: 10px;
}
.dashboard-projects-inner-container .project-status span {
  font-size: 10px;
}
.dashboard-projects-inner-container .project-footer {
  font-size: 11px;
}
.dashboard-projects-inner-container .project-calendar-icon {
  width: 12px;
  height: 12px;
}
