.task-container {
  padding: 20px;
  font-family: sans-serif;
}

.task-header {
  margin-bottom: 15px;
  width: 100%;
  align-items: center;
}

.task-header-title {
  font-size: 18px;
  font-weight: 600;
}

.task-tabs {
  display: flex;
  background: #ecececad;
  border-radius: 8px;
  padding: 3px;
}

.task-tab {
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.task-tab.active {
  background-color: white !important;
  box-shadow: 0px 0px 10px #00000008;
}

.task-tab:hover {
  background: #f9f9f9;
}

.task-add-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 12px;
  background: #2166fe;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.task-status-summary {
  display: flex;
  gap: 4px;
  font-size: 14px;
  color: #555;
}

.task-status-summary > h4 {
  font-size: 14px;
  font-weight: 500;
}

.task-status-summary > span {
  border: 1px solid #ccc;
  padding: 1px 8px;
  border-radius: 6px;
  box-shadow: 0px 0px 5px #00000004;
}

.task-board {
  display: flex;
  width: 100%;
  gap: 16px;
  margin-top: 30px;
  align-items: start;
  justify-content: center;
  flex-direction: row;
}

.task-column-outer-container {
  width: 100%;
}

.task-column {
  min-height: 150px;
}

.task-empty-container {
  border: 1px dashed #ccc;
  border-radius: 8px;
  padding: 12px;
  min-height: 150px;
}

.task-column-header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 2px;
  padding: 0px 5px;
}

.task-card {
  background: white;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 20px 15px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.task-card-bottom-side,
.task-card-top-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.task-card-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 4px;
    width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.task-card-disc {
  font-size: 13px;
  color: #555;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.task-card-info {
  width: 80%;
}

.task-card-status {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: start;
  height: -webkit-fill-available;
}

.task-card-status-btn {
  padding: 1px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  color: white;
  white-space: nowrap;
}

.task-card-due-date {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #777;
}

.task-card-due-date > svg {
  font-size: 0px;
}

.task-card-assigned {
  font-size: 12px;
  font-weight: 400;
  color: #777777;
}

.task-empty {
  text-align: center;
  color: #aaa;
  font-size: 14px;
  padding: 20px 0;
}
