.topbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;
  gap: 10px;
  padding: 12px;
  background: #fafafa;
  font-weight: 500;
  width: 100%;
  border-bottom: 1px solid #dfdfdf;
}

.topbar-left-side {
  width: 50%;
}

.topbar-right-side {
  width: 50%;
}

.workspace-selector-container {
  position: relative;
}

.workspace-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  max-width: 130px;
  font-size: 10px;
  font-weight: 600;
  border: 1px solid #dbdbdb;
  padding: 5px 4px;
  border-radius: 4px;
  cursor: pointer;
}

.selector-workspace-name {
  max-width: 105px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.workspace-dropdown {
  position: absolute;
  background-color: white;
  width: 300px;
  box-shadow: 0px 0px 10px #00000014;
  border-radius: 4px;
  overflow: hidden;
  top: 25px;
  z-index: 1;
  opacity: 0;
  transform: translateY(8px);
  pointer-events: none;
  transition: opacity 0.25s ease, transform 0.25s ease;
}

.workspace-dropdown-right {
  right: 0px;
}
.workspace-dropdown-left {
  left: 0px;
}

.workspace-selector:hover .workspace-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.workspace-dropdown-item {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 8px 4px;
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
}

.workspace-dropdown-item:hover {
  background-color: #ebebeba8;
}

.workspace-dropdown-item-icon {
  padding: 3px 7px;
  color: white;
  border-radius: 8px;
  font-size: 15px;
  margin-right: 2.5px;
}

.workspace-dropdown-create {
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  white-space: nowrap;
  padding: 10px 7px;
  cursor: pointer;
}

.workspace-dropdown-create:hover {
  background-color: #ebebeba8;
}

.topbar-actions {
  width: fit-content;
  gap: 10px;
}

.topbar-action-btn {
  font-size: 0px;
  cursor: pointer;
  background: white;
  border: 1px solid #dfdfdf;
  padding: 8px 8px;
  border-radius: 8px;
}

.topbar-profile-btn {
  cursor: pointer;
  border: none;
  background: black;
  color: white;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}
